<div class="card text-center text-white bg-dark mb-3">
    <a href="/animal/{{id}}">
        <header>{{animal_name}}</header>
    </a>
    {{!-- <h2>{{pet_name}}</h2> --}}
    <img class="card-img-top" src="{{filename}}" id="img-preview" width="300" height="250" />
    <div class="card-body">
        <p class="card-text">{{breed}}</p>
        <h4>{{sex}}</h4>
        {{!-- <li>{{is_stray}}</li> --}}
        <h4>{{description}}</h4>
        <footer class="card-footer">
            <div class="d-flex justify-content-between align-items-center">

                <button type="button" class="btn btn-sm btn-outline-secondary">Retrieve</button>

                <small class="text-muted">Days ago</small>
            </div>
        </footer>
    </div>
</div>