<section class="card">
    <a href="/animal/{{id}}">
        <header>{{animal.animal_name}}</header>
    
            <h2>{{pet_name}}</h2>
    
        {{!-- <div class="card-body">
        <img src="/images/strays_1.png" id="img-preview">
        <label class="file-upload-container" for="file-upload">
                <input id="file-upload" type="file" style="display:none;">
                Upload an Image 
                </label> --}}
            <p>Breed: {{breed}}</p>
            <ul>
                <li>Sex: {{sex}}</li>
                <li>No collar found?: {{is_stray}}</li>
            </ul>
        </div>
    </a>
</section>






