<section class="card">
    <a href="/pet/{{id}}">
        <header>{{pet_name}}</header>

        <div class="card-body">
            <img src="/images/{{filename}}" alt="{{description}}" id="img-preview" />
            <label class="file-upload-container" for="file-upload">
                <input id="file-upload" type="file" style="display:none;">
                Select an Image
            </label>
            <p>Breed: {{breed}}</p>
            <ul>
                <li>Sex: {{sex}}</li>
                <li>No collar found?: {{is_stray}}</li>
            </ul>
        </div>
    </a>
</section>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../../public/js/cloudinary.js"></script>