<section class="card">
    <a href="/pet/{{id}}">
        <header>{{pet_name}}</header>

        <div class="card-body">
            <p>Breed: {{breed}}</p>
            <ul>
                <li>Sex: {{sex}}</li>
                <li>No collar found?: {{is_stray}}</li>
            </ul>
        </div>
    </a>
</section>